---
layout: layouts/base.njk
templateClass: tmpl-post
---

<div class="layout">
	<div class="left-col">
		{# Music posts #} {% set musicPosts = [] %} {% set totalMusicPosts = 0
		%} {% for post in collections.posts | reverse %} {% if post.data.tags
		and "music" in post.data.tags %} {% set totalMusicPosts =
		totalMusicPosts + 1 %} {% if musicPosts.length < 3 %} {% set
		musicPosts = musicPosts.concat([post]) %} {% endif %} {% endif %} {%
		endfor %} {% if musicPosts | length %}
		<h2>Releases</h2>
		{% set postslist = musicPosts %} {% include "postslist.njk" %} {% if
		totalMusicPosts > 3 %}
		<a href="/tags/music/" class="more-link">More music →</a>
		{% endif %} {% endif %} {# Show posts #} {% set showPosts = [] %} {%
		set totalShowPosts = 0 %} {% for post in collections.posts | reverse
		%} {% if post.data.tags and "show" in post.data.tags %} {% set
		totalShowPosts = totalShowPosts + 1 %} {% if showPosts.length < 5 %}
		{% set showPosts = showPosts.concat([post]) %} {% endif %} {% endif %}
		{% endfor %} {% if showPosts | length %}
		<h2>Shows</h2>
		{% set postslist = showPosts %} {% include "postslist.njk" %} {% if
		totalShowPosts > 5 %}
		<a href="/tags/show/" class="more-link">More shows →</a>
		{% endif %} {% endif %} {% include "socials.njk" %}
	</div>
	<div class="right-col">
		<h1 class="title">{{ title }}</h1>
		<div class="subtitle">
			{% if metadata.config.showDatePost %}
			<time class="post" datetime="{{ page.date | htmlDateString }}">
				{{ page.date | readableDate }}
			</time>
			{% endif %} {%- for tag in tags | filterTagList %} {%- set tagUrl
			%}/tags/{{ tag | slugify }}/{% endset %}
			<a class="tag" href="{{ tagUrl | url }}">{{ tag }}</a>
			{%- endfor %}
		</div>
		{{ content | safe }}
		{%- if collections.posts %} {%- set nextPost = collections.posts |
		getNextCollectionItem(page) %} {%- set previousPost =
		collections.posts | getPreviousCollectionItem(page) %} {%- if nextPost
		or previousPost %}
		<hr />
		<ul class="nav">
			{%- if nextPost %}
			<li class="post-nav-next">
				<a href="{{ nextPost.url | url }}"
					>{{ nextPost.data.title }} ></a
				>
			</li>
			{% endif %} {%- if previousPost %}
			<li>
				<a href="{{ previousPost.url | url }}"
					>< {{ previousPost.data.title }}</a
				>
			</li>
			{% endif %}
		</ul>
		{%- endif %} {%- endif %}
	</div>
</div>
